In [13]:
import sqlite3
import matplotlib.pyplot as plot
import pandas as pd
import numpy as np
cnx = sqlite3.connect("database/jstor-authority.db")
cursor = cnx.cursor()

In [6]:
query = "select distinct fullname from articles where fullname like '%jr.%'"

In [7]:
pd.read_sql_query(query,cnx)

                         fullname
0            George R. Harper Jr.
1              Harry W. Yoder Jr.
2               J. F. Hancock Jr.
3             Samuel B. Jones Jr.
4                E. M. Walker Jr.
...                           ...
3266        James A. Lamansky Jr.
3267   Michael J. Shaughnessy Jr.
3268        David C. Pavlacky Jr.
3269         Robert G. Elston Jr.
3270  William F. Laudenslayer Jr.

[3271 rows x 1 columns]

In [15]:
query = "drop table articles"
cursor.execute(query)
cnx.commit()