In [1]:
import sqlite3
import matplotlib.pyplot as plot
import pandas as pd
import numpy as np
cnx = sqlite3.connect("database/jstor-authority.db")
cursor = cnx.cursor()

In [2]:
query = "select distinct language from articles"

In [3]:
pd.read_sql_query(query,cnx)

           language
0               eng
1                en
2               ger
3               fre
4               spa
5               ita
6               dut
7           ger lat
8               lat
9               hun
10          eng rus
11              por
12          eng hun
13          spa lat
14          eng lat
15              rus
16          spa por
17          lat eng
18          lat ger
19      eng lat ger
20      ger ita lat
21
22              nor
23              tru
24          fre lat
25          eng fre
26          spa eng
27      eng ger lat
28          ger eng
29              esp
30              nig
31              rom
32          lat spa
33      ger eng lat
34          eng spa
35  ger eng lat fre
36      ger lat fre
37          eng dut
38          ita lat
39          por eng
40          ger ita
41          eng ger
42      ger fre lat
43      eng ger fre
44               EN
45          fre eng
46          ita eng
47          eng ita
48      eng ger spa
49          eng gle
50              neg
51              emg
52               ru
53              dan
54            eng!y
55              swe
56              gle
57      eng fre ger

In [20]:
query = "select count(*) as c, full_name from google_scholar_no_dups group by full_name order by c desc"
print(pd.read_sql_query(query, cnx))
query = "select * from google_scholar_no_dups where full_name like 'Anders Nielsen'"
print(pd.read_sql_query(query, cnx))

       c          full_name
0      4           Wei Wang
1      3     Anders Nielsen
2      3      Isabel Castro
3      3     Muhammad Aslam
4      2         Adam Davis
...   ..                ...
22916  1      Ülo Niinemets
22917  1           Ülo Väli
22918  1     Şerban Procheş
22919  1     Željko Cvetnić
22920  1  Željko Grabarević

[22921 rows x 2 columns]
   ids_len                ids       full_name       name_id
0       15    4122785,4496065  Anders Nielsen  4bg2BdYAAAAJ
1       17  24874345,24872830  Anders Nielsen  GrOIVw8AAAAJ
2       17  23213953,24432285  Anders Nielsen  k_9RuXkAAAAJ

In [11]:
query = "select * from articles_2_ab where id = '24039796' and position = 1"
print(pd.read_sql_query(query,cnx))

         id  position last_name first_initial middle_initial suffix  \
0  24039796         1      Lang             M

                                               title  \
0  functional characterization bjcet3 bjcet4 two ...

                     journal_name       fullname first_name middle_name  \
0  Journal of Experimental Botany  Minglin  Lang    Minglin

  language                                            authors  \
0      eng  Minglin  Lang,Mengyu  Hao,Qiangwang  Fan,Wei  ...

                                          mesh_terms affiliation  \
0  Humans,*Saccharomyces cerevisiae,*Tobacco,*See...

                                          full_title
0  Functional characterization of BjCET3 and BjCE...

In [23]:
query = "select count(distinct id) from articles"
pd.read_sql_query(query,cnx)

DatabaseError: Execution failed on sql 'select count(distinct id) from articles_2_ab': no such table: articles_2_ab