In [1]:
import sqlite3
import matplotlib.pyplot as plot
import pandas as pd
import numpy as np
cnx = sqlite3.connect("database/jstor-authority.db")
cursor = cnx.cursor()
# 603854

In [19]:
query = "select count(*) from articles where lower(first_name) != lower(first_initial)"
pd.read_sql_query(query,cnx)

   count(*)
0   1477287

In [11]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('articles',), ('google_scholar',), ('name_matches',), ('name_non_matches',), ('google_scholar_before',), ('google_scholar_new',), ('clusters_all',), ('self_citations',), ('bhl_no_dups',)]

In [ ]:
# query = "select * from articles where id like "

In [2]:
query = "select count(*) from name_set"
pd.read_sql_query(query,cnx)

   count(*)
0     76717

   count(*)
0    219327

In [20]:
query = "select count(*) as c, full_name from google_scholar_no_dups group by full_name order by c desc"
print(pd.read_sql_query(query, cnx))
query = "select * from google_scholar_no_dups where full_name like 'Anders Nielsen'"
print(pd.read_sql_query(query, cnx))

       c          full_name
0      4           Wei Wang
1      3     Anders Nielsen
2      3      Isabel Castro
3      3     Muhammad Aslam
4      2         Adam Davis
...   ..                ...
22916  1      Ülo Niinemets
22917  1           Ülo Väli
22918  1     Şerban Procheş
22919  1     Željko Cvetnić
22920  1  Željko Grabarević

[22921 rows x 2 columns]
   ids_len                ids       full_name       name_id
0       15    4122785,4496065  Anders Nielsen  4bg2BdYAAAAJ
1       17  24874345,24872830  Anders Nielsen  GrOIVw8AAAAJ
2       17  23213953,24432285  Anders Nielsen  k_9RuXkAAAAJ

In [11]:
query = "select * from articles_2_ab where id = '24039796' and position = 1"
print(pd.read_sql_query(query,cnx))

         id  position last_name first_initial middle_initial suffix  \
0  24039796         1      Lang             M

                                               title  \
0  functional characterization bjcet3 bjcet4 two ...

                     journal_name       fullname first_name middle_name  \
0  Journal of Experimental Botany  Minglin  Lang    Minglin

  language                                            authors  \
0      eng  Minglin  Lang,Mengyu  Hao,Qiangwang  Fan,Wei  ...

                                          mesh_terms affiliation  \
0  Humans,*Saccharomyces cerevisiae,*Tobacco,*See...

                                          full_title
0  Functional characterization of BjCET3 and BjCE...

In [23]:
query = "select count(distinct id) from articles"
pd.read_sql_query(query,cnx)

DatabaseError: Execution failed on sql 'select count(distinct id) from articles_2_ab': no such table: articles_2_ab

In [13]:
import sqlite3
import matplotlib.pyplot as plot
import pandas as pd
import numpy as np
cnx = sqlite3.connect("database/jstor-authority.db")
cursor = cnx.cursor()

In [14]:
query = "select distinct fullname from articles"
new_authors = pd.read_sql_query(query,cnx)

In [15]:

cnx = sqlite3.connect("database/jstor-authority-backup.db")
cursor = cnx.cursor()

In [16]:
query = "select distinct fullname from articles_2_ab"
old_authors = pd.read_sql_query(query,cnx)

In [19]:
cnx = sqlite3.connect("database/test3.db")
cursor = cnx.cursor()

In [20]:
query = "select distinct fullname from articles_2_ab"
test3_authors = pd.read_sql_query(query,cnx)

In [23]:
print(new_authors)
print(old_authors)
print(test3_authors)
diff = pd.concat([new_authors,old_authors]).drop_duplicates(keep=False)
print(diff)
diff2 = pd.concat([old_authors, test3_authors]).drop_duplicates(keep=False)
print(diff2)
final_diff = pd.concat([diff, diff2]).drop_duplicates(keep=False)
print(final_diff)

                      fullname
0                Witmer  Stone
1           KRISTAL M. WATROUS
2                JAMES H. CANE
3                   H.  Takeda
4       Frank Barnaby Director
...                        ...
584802     Kirsten E. Heckmann
584803         Darren G. Greve
584804   Jamie Kristine Reaser
584805       Julie T. Thompson
584806       Danielle  Klemash

[584807 rows x 1 columns]
                      fullname
0                   H.  Takeda
1       Frank Barnaby Director
2               Rolanda  Lange
3       Johanna  Werminghausen
4                 Nils  Anthes
...                        ...
507946     Kirsten E. Heckmann
507947         Darren G. Greve
507948   Jamie Kristine Reaser
507949       Julie T. Thompson
507950       Danielle  Klemash

[507951 rows x 1 columns]
                      fullname
0                   H.  Takeda
1       Frank Barnaby Director
2               Rolanda  Lange
3       Johanna  Werminghausen
4                 Nils  Anthes
...                        ...
463629     Marie Claire Criqui
463630          Arnaud  Capron
463631        Yves  Parmentier
463632         Runar  Thyrhaug
463633                S. Rance

[463634 rows x 1 columns]
                        fullname
1             KRISTAL M. WATROUS
5                Louis B. Bishop
26               John E. Cushing
27               Lucian  Sprague
34         Dorothy Anderson Knox
...                          ...
544274             Erwan Ar Gall
544275  Valérie  Stiger-Pouvreau
544278           Sandhya  Santra
544281            ALBAN  STEWART
284623        Michelle D. Falcon

[76858 rows x 1 columns]
                     fullname
463634           N.  Cavelier
463635            D.  Le Page
463636          W. F. Osswald
463637            S.  Zieboll
463638             W.  Schütz
...                       ...
507946    Kirsten E. Heckmann
507947        Darren G. Greve
507948  Jamie Kristine Reaser
507949      Julie T. Thompson
507950      Danielle  Klemash

[44317 rows x 1 columns]
                     fullname
1          KRISTAL M. WATROUS
5             Louis B. Bishop
26            John E. Cushing
27            Lucian  Sprague
34      Dorothy Anderson Knox
...                       ...
507946    Kirsten E. Heckmann
507947        Darren G. Greve
507948  Jamie Kristine Reaser
507949      Julie T. Thompson
507950      Danielle  Klemash

[121175 rows x 1 columns]

In [24]:
final_diff.reset_index()

         index               fullname
0            1     KRISTAL M. WATROUS
1            5        Louis B. Bishop
2           26        John E. Cushing
3           27        Lucian  Sprague
4           34  Dorothy Anderson Knox
...        ...                    ...
121170  507946    Kirsten E. Heckmann
121171  507947        Darren G. Greve
121172  507948  Jamie Kristine Reaser
121173  507949      Julie T. Thompson
121174  507950      Danielle  Klemash

[121175 rows x 2 columns]

In [27]:
final_diff["fullname"].to_csv("authors.csv")

In [3]:
import json
file = "r_table/compute_r/results/x1_m.json"
with open(file) as f:
    data = json.load(f)
sum =0

for val in data.values():
    sum+=val
print(sum)

984

In [4]:
import json
file = "r_table/compute_r/results/x1_nm.json"
with open(file) as f:
    data = json.load(f)
sum =0

for val in data.values():
    sum+=val
print(sum)

58308

In [5]:
import json
file = "r_table/compute_r/results/x2_m.json"
with open(file) as f:
    data = json.load(f)
sum =0

for val in data.values():
    sum+=val
print(sum)

984

In [1]:
%cd clustering/

/home/mvancha/Authority-git/Authority/clustering

In [ ]:
!./script.sh

328933
328933
328933
328933
RYAN A
COLLS J
CLARK A
file
MacDonald M
Strobeck C
file
STÄHELI B
Bisazza A
file
Weijs W
WATTS S
file
RODRIGUEZ J
file
EVANS S
file
RENSON Y
Goshen D
Muehlbauer F
file
STOFFEL S
file
Chase R
file
TAUBE F
file
Diggs G
file
GOSSUIN F
file
Foster T
file
Standovár T
file
Maheswaran S
file
Menu S
file
JACQUEMIN A
TSIOURLIS G
file
Boy V
file
Botosaneanu L
file
Deschamp P
file
Howard E
file
SCHLEGEL M
file
Schlegel M
file
MacLean S
file
Harvell D
file
Bounous D
file
Antos J
file
CARLSEN M
BEVILACQUA M
DA-MUSA Y
LEJOLY J
file
Lamichhane C
file
Campagnoli R
file
Danilov S
file
VERDAGUER D
file
Hawkins C
file
OJEDA F
WRIGHT I
file
ACKERLY D
BONGERS F
file
HARMS K
IBARRA-MANRIQUEZ G
MARTINEZ-RAMOS M
MAZER S
MULLER-LANDAU H
PAZ H
PITMAN N
POORTER L
file
SILMAN M
VRIESENDORP C
WRIGHT S
file
Kerr K
file
Fiala B
file
Balfour F
file
KLINCK H
SIM S
Andreasen K
file
Maschwitz U
file
Wallace J
file
Zobel D
file
Seeholzer G
Winger B
Harvey M
file
Brierley W
file
Nekola J
file
Schlicht D
Holmes E
file
Cabrera A
file
Eastman A
file
Garcia-Pichel F
file
PRIESTLEY C
file
Clements C
file
Craib W
file
Gardner S
file
Benton M
file
Boyle T
file
Dewey R
file
Kasper A
file
Samberg Y
file
Cuperstein E
Bendheim U
file
Aronovici I
Zimmermann Y
file
Ramírez S
file
Korves T
file
Bergelson J
file
Ehrman L
file
Bishop B
file
DE VRIES F
file
WITLAGE J
KREMER D
file
Fingerman M
file
Hwang J
file
Lago A
file
AKAN H
file
EKER İ
Gilby I
file
Wroblewski E
Rudicell R
file
Hahn B
file
Dickinson E
file
Bohlen H
file
Soikkeli S
Tuovinen T
Shaw C
file
Mellen G
Brée A
file
Prosser C
file
Fickert T
Friend D
file
Grüninger F
Molnia B
Liao J
file
Luo M
file
Kirchoff B
file
WALLACE W
file
DHAR U
VIJAYARAGHAVAN M
file
WILKINSON J
file
Hagedorn H
file
Tang K
file
Dolukhanov A
Brittingham W
file
Michael H
Lattorff G
Crous K
Hepburn R
file
Alfaro M
file
Wainwright P
file
Pointe J
Muenchow G
file
Baldridge A
file
Bartoneck J
King W
file
Owre O
file
Ohyama T
file
Saito A
file
Yamada M
file
Marty E
file
Winans R
Hilt N
file
Brehm G
file
Fiedler K
file
Imada T
file
Bauer R
file
Dufrenoy J
file
Hirsimäki P
Tarkkonen H
file
Haapala O
Lammertink M
file
Luneau M
file
Gallagher T
file
Harrison B
file
Sparling G
file
Rohrbaugh R
file
Swarthout E
file
Wrege P
file
Charif R
file
Barksdale T
Zollner D
file
Foley J
file
Needham M
file
Wisner W
Ruggeri P
Stapp C
file
STASSART J
file
Conti S
file
Sanguineti M
file
Roncarati R
file
Colwell R
file
ALMÁDI L
KOVÁCS-LÁNG E
file
MÉSZÁROS-DRASKOVITS R
KALAPOS T
file
Stuttard P
Ray C
file
A. D
file
Weckstein J
file
Ertz D
file
GROLLE R
file
PIIPPO S
file
Stafford J
file
Preston F
file
Harmon G
file
Genwei C
Geitler L
file
Weidmann U
Ehrle E
file
Coleman B
file
Kraemer L
Shiva V
file
Bandyopadhyay J
file
Jayal N
file
Hinchee M
file
Pettingill O
file
von Schrenk H
file
Fior S
file
Casazza G
file
Minuto L
file
Sala F
file
Lowy B
file
White A
file
Cournault L
file
de Biseau J
Christensen J
file
ESCOMBE F
Marchinton R
file
Lian C
file
Shen Z
file
SOUZA V
file
C. E
file
Galetto L
file
Isele I
Vesprini J
file
Speroni G
Berduc A
Grimmelikhuijzen C
Carstensen K
Darmer D
Moosler A
Nothacker H
Reinscheid R
Schmutzler C
Vollert H
file
McFarlane I
file
Rinehart K
file
Zeevaart J
file
Sherratt J
file
Begon M
file
Goodlatte A
Cotton A
file
Whitley G
file
Bruederle L
file
Ibarra-Cerdeña C
Iñiguez-Dávalos L
file
Sánchez-Cordero V
file
Fereidounfar S
McDiarmid R
file
Kyrki J
Templeton J
file
Douglas D
file
Koelle M
Holsinger J
file
Wilson H
file
Mort J
file
Recklies A
Vestey M
file
Boren J
file
Schoener T
file
Knox A
file
COMER C
file
BELL A
file
OSWALD B
CONWAY W
file
BURT D
Obrist M
file
Mackay R
file
Tuurala H
file
Chueiri-Chiaretto I
de Menezes N
file
BYRNE M
file
CHAMBERLAIN M
file
Zorach T
file
Sears H
file
Edvardsen H
Elvebakk A
file
Spiller D
file
Øvstedal D
file
Prøsch-Danielsen L
file
Schwenke J
file
Sveistrup T
Halisky P
file
Sun S
file
Cerasale D
file
Guglielmo C
file
STARK L
file
OLIVER M
file
MISHLER B
McLETCHIE D
file
FUSS F
file
Byrne R
file
Lohmann L
file
Loo S
file
Ebel E
file
Ferris K
file
Beckman M
Cummins D
file
Scroeder-Tucker L
Sutherlin W
Glasshoff R
Smithhisler N
Tyser R
file
Moermond T
file
Peck C
file
Morgan-Jones G
file
Funk C
file
Kelsey K
file
Wickland K
file
Striegl R
file
Stemmermann L
Ihsle T
Hart S
file
CAPLIN S
file
Brokaw J
file
Cederwall H
file
Heilman M
file
Carlton R
file
ESTELITA-TEIXEIRA M
Beslow D
file
Hacskaylo E
file
Melhuish J
file
Abraham M
file
Higgins D
file
Bose S
file
Blumer L
file
Hiesey W
file
Henry M
file
Pesti G
file
Maeda E
file
Torres J
file
Cantino E
file
Hart P
file
Woodworth B
file
J. Camp R
Turner K
file
McClure K
file
Goodall K
Henneman C
file
Spiegel C
file
LeBrun J
Tweed E
file
Samuel M
file
Brunning D
Hubbell P
Tran A
file
Hunt K
file
MARSCHALL M
PROCTOR M
file
Ingvander S
Holmlund P
file
Rosqvist G
file
White B
file
Grun P
file
M'Carthy G
file
Farquhar M
file
McGuire A
file
Melillo J
file
Tumova B
Greene H
file
MacFadden B
file
Inkinen P
Calderon C
file
Curtis D
file
EKARATNE S
SENATHIRAJAH S
Ahmad K
file
PATE S
DAVIDSON N
file
Katz E
file
Pfeiffer N
file
Triolo E
file
Materazzi A
file
Luvisi A
file
Gibb H
file
Kränzlin F
file
Shontz N
file
Joyce L
file
Shontz J
file
Humes A
file
Colombelli-Négrel D
Sulloway F
file
Kleindorfer S
file
Dyrssen D
file
Uppström L
Rollins M
file
Prior P
file
Conklin E
file
MIDMORE D
file
PRANGE R
file
Glover S
file
Magee M
file
Lajunen L
file
Itämies J
file
Anttila R
Gerzabek M
file
Haberhauer G
Stemmer M
Klepsch S
file
Haunold E
file
Sundell E
file
Van Auken O
file
Mustafa T
file
Cross R
file
Hohmann G
file
Gerloff U
file
Tautz D
file
Fruth B
file
Wydoski R
file
Rissler L
file
Hoffman R
file
Benowitz-Fredericks Z
file
Yachida S
file
HART E
Seri E
file
Maruvka Y
Shnerb N
file
Wood W
file
Sugimori G
file
Aoyama S
file
Takahashi N
file
Katagiri K
file
Meerts P
file
SCIPPA G
file
DI MICHELE M
DI IORIO A
file
COSTA A
file
LASSERRE B
file
Kristoferson L
file
CHIATANTE D
file
Strunk A
file
Barber C
file
Imai D
file
Osofsky A
file
Endo W
Salas E
file
Sanchez-Vega J
Pacheco V
file
Bartgis R
file
STRAUSS M
file
Brannon M
file
file
Sell H
Blow W
file
Shanthamma C
file
Aedo C
file
Van Kampen P
Conlan B
Gillon A
Barbeta B
Maruca S
file
ZAGÓRSKI S
KĘPCZYŃSKI J
GROOT S
file
Yeatman H
file
Bülow-Olsen A
file
Lynch D
file
WOOD F
file
Woods H
file
Ruiz-González M
file
Kazmierski R
Swain J
file
Carey E
file
Gillespie A
file
Kobuski C
file
McCune S
file
Zohary D
file
Runkle J
file
McDonald C
file
Hawryshyn C
Dingle E
file
Halling L
file
Good G
file
Wattanachaiyingcharoen W
file
Kumpfmüller R
Muth R
file
Nanork P
file
Wongsiri S
file
Vega F
file
Simon T
file
Sanvito S
file
Galimberti F
file
Whiteaker L
file
WĘDZONY M
file
VAN LAMMEREN A
file
Finol U. H
file
Cristoffer C
file
MEREDITH D
file
Kloeckner P
LANCKOW J
file
Novotny J
file
Archangelsky S
file
Polechová J
file
Barton N
file
Barbosa P
file
BERKELEY C
file
Abroe B
Garvin J
file
Pedersen M
file
Laurance S
file
Marion G
file
Heubel K
file
Hornhardt K
Ollmann T
Parzefall J
file
Gunther K
file
Mustafa S
file
Gianini C
file
Platt J
file
Kuenzel W
file
Hernandez-Divers S
file
Andrade A
file
Jimenez C
file
O'Connor B
file
Laurance W
file
Yabsley M
file
Sanchez S
file
Joyce C
file
Charlet A
file
Mertl A
file
Wilkie K
file
Traniello J
file
SHIVAMURTHY G
file
AREKAL G
file
SWAMY B
file
Ayres R
file
Kneese A
Ford C
file
Gifford C
file
Duvall M
file
Mattson J
Weise C
file
Michaels H
file
Scott K
file
Haglund K
file
Amarasekare P
file
Sigler J
file
Fuentes J
file
Heitz R
Garstang M
Fisch G
file
HEMSLEY W
file
LEDIG F
file
DREW A
file
Toju H
file
Sota T
file
McDaniel L
file
McDaniel I
file
Irwin R
file
Chute H
file
Pias K
file
Klimes B
file
Bockstoce J
file
Botkin D
file
NWOKE F
file
Storchova H
KHAN A
file
Traverso O
file
Shackleford M
file
Martinez-Frias J
file
Lázaro E
Esteve-Núñez A
Barbieri C
Shaver J
file
Walker G
file
KERSHAW E
file
RONDÓN J
file
CUMANA-CAMPOS L
Zweers G
file
Chaplin S
file
Terasaki T
Lintner G
file
Viljanen M
file
Holopainen I
file
Hall G
file
Bachmann K
file
Butcher G
file
Collisson E
file
Franck V
file
Hungate B
file
Field C
file
Chambers K
file
Farmer R
file
Junikka L
file
Koek-Noorman J
file
Ghazoul J
file
Stubbs A
file
Nahallage C
Huffman M
file
Hediger H
Peters H
file
Reyes C
file
Eitzmann J
Paukert C
file
Muller M
file
JOSHI A
file
Dall'Ara P
file
Martino P
file
Smeaton J
Sonnenschein E
file
Pedersen N
file
Ansell S
file
Frazier M
file
Laferrière J
file
Danforth B
file
Beilstein M
file
Al-Shehbaz I
file
Riggs J
file
Cochrane V
file
Conn J
file
Van Borm S
file
Ozhelvaci O
Marché S
file
Haukisalmi V
file
Ball C
file
Patterson B
file
Lawson V
file
Brady R
file
Gamblin C
Hunt C
file
CAI Q
LIU Z
file
Schultz P
file
Rivetta C
file
McAlear J
file
Matthews B
file
Guerra M
file
Santos K
file
Ehrendorfer F
file
Avery R
file
Bedford J
file
Newcombe C
file
Carlson B
file
Lammes T
file
Meili M
file
Jonsson P
file
Carman R
file
Pijanowski B
file
Lackey J
file
PEICHOTO M
file
Mustard M
file
Stoutemyer V
file
Britt O
file
Hirth D
file
Hester A
file
Greeley F
file
Schupp E
file
Schiller E
file
Quist C
Crum J
file
Vernescu C
file
Ryser P
file
Hadaway E
file
Manzoni S
file
Haring E
file
Däubl B
Gaub L
Szeiler S
Söderbäck B
file
Bahl A
file
Spendelow J
file
Oren R
file
Cormons G
file
Geng H
Liu-Partanen Y
Guo D
file
Lamb I
file
Hedges S
file
Tong G
file
Oswalt S
file
Richmond T
file
Closser J
file
Soladoye M
file
TOUCHELL D
file
DIXON K
file
KARLING J
Chance G
Coomans V
file
Haskell D
file
Newell C
file
Padgett F
file
Baxter-Gabbard K
file
Raitano-Fenton A
file
Levine A
file
Malik B
file
Dhawedkar R
Geyer W
file
Geyer S
Meanley A
file
HLAWATSCH K
Forshay K
file
Mohler C
file
Török J
file
Duchet-Suchaux M
file
Mompart F
file
Berthelot F
file
Beaumont C
file
Léchopier P
file
Pardon P
file
Boyer C
file
Narotsky S
file
Bruner D
file
Ritchie A
file
Schmidt C
file
Pankiw T
file
Nabours R
file
Ferraro L
file
Moran A
file
Colgan P
file
Willey R
file
McMillan A
file
Ludvig É
KLEESE R
Labisky R
file
Small E
file
Boulay M
file
Gray L
file
Bolenbaugh A
Belletti P
file
Lanieri S
Lepori G
file
Rees O
Skalski T
Wierzbowska I
Salzman V
file
Skean J
file
Dehm R
Bayless M
file
McManus M
file
Fairchild J
file
Wood H
file
Morris E
file
Finley D
file
McMillan B
file
Hillary B
file
Roberts S
file
Yeung E
file
Harrison J
file
ZAMUDIO F
HILGERT N
file
Krapež U
file
Steyer A
file
Slavec B
file
Dovč A
file
Račnik J
file
Rojs O
file
Pearce P
file
Newcomer W
file
Ehinger C
file
Phillips T
file
Rosso S
file
THANISAWANYANGKURA S
MABROUK H
KASEMSAP P
Hafner J
file
Hafner M
file
Szentirmai I
file
Székely T
file
Bleeker M
file
Haas C
file
Chiu H
file
ELMORE H
file
WEBB D
file
RIPLEY B
WHITE A
file
VOS J
file
OYARZÚN P
Honda H
file
Hatta H
Schönberg G
file
Kupler N
HEJNOWICZ Z
COLLINS N
CALLAGHAN T
file
Ohata T
file
Foufopoulos J
file
Lake R
file
Martinez K
Alvino A
file
Sorrentino G
file
Quattlebaum W
file
Schiele E
file
GEORGE E
file
Uetz G
file
Norton S
file
Vignolio O
file
Llobet M
Misiorowska M
Wasilewski M
Herendeen P
file
Wheeler E
file
Baas P
file
Alkhamis M
file
Perez A
file
Batey N
Baillie G
file
Franz S
file
Focosi-Snyman R
Onita I
Cioranu R
Turcitu M
Kellam P
Breed A
file
Van Overbeek J
file
Conklin M
file
Vialette-Guiraud A
file
Alaux M
Legeai F
file
Finet C
file
Chambrier P
file
Chauvet A
file
Magdalena C
Scutt C
file
IANNETTA P
file
FERNANDEZ-PASCUAL M
file
DE LORENZO C
WITTY J
file
Crandall L
file
Forbes H
file
O'Regan J
Doums C
file
Clémencet J
file
Fédérici P
file
Aron S
file
Murgueitio E
file
Gardiner S
file
PALMA R
DEFRIERI R
TORTAROLO M
PRAUSE J
GALLARDO J
file
Schardl C
file
García-Zamora P
file
Ros R
file
Kellogg E
file
Kutnar L
file
Martinčič A
file
VERMEULEN P
STUEFER J
file
DURING H
file
ANTEN N
file
Bishop S
file
NG Y
Wellman G
file
AHOKAS H
file
Waite R
file
Balvanera P
file
Aguirre E
file
Bertrand-Garcia R
file
Walling L
file
Murashige T
file
Radi Z
file
Rosenbusch R
Goll F
file
BARROWS W
file
Landová E
Jančúchová-Lásková J
Musilová V
Kadochová Š
Frynta D
file
WALTERS D
file
Kulaszewicz I
file
Tanenbaum S
Hart R
file
Li P
file
Rodewald A
file
Nováková M
file
Vašáková B
Kutalová H
Galeštoková K
Průšová K
Šmilauer P
file
Šumbera R
file
Van den Broeck H
file
Lorenz A
file
Bollinger E
file
BREYNE P
file
BOERJAN W
file
GERATS T
VAN MONTAGU M
file
VAN GYSEL A
Pepoon H
file
LAROSE E
file
VANDERWALLE R
file
Walther D
file
Prebha S
Selvapathy P
GERRETSEN F
file
Grimes S
file
Cruickshank A
file
Rutter R
file
Laskey (
Roads M
file
Royston M
file
CHAFFEY N
file
Neff B
file
Drew E
file
Gavin T
file
Capinera J
file
Titus R
file
Jaffe J
file
Tekeli S
RAO R
file
Sibley C
file
Taillon J
file
O'Meara D
file
Ahlquist J
file
Stamm R
Greenberg R
file
Detmers H
file
Krupp D
file
Taylor P
file
Broberg S
file
Kristoffersson R
file
HANSON L
file
MCMAHON K
JOHNSON M
file
Kutsukake N
file
Nunn C
file
HUDGINS R
NORMENT C
file
SCHLESINGER M
NOVAK P
Maglia A
file
Pugener L
file
Trueb L
file
Lancefield D
file
Calkin P
file
Wadleigh J
file
KELLER R
Latta L
file
Civitello D
file
Dudycha J
file
Meik J
file
Schaack S
file
Rowland M
file
NICHOLS R
file
Esseen P
file
Renhorn K
file
Kampen H
file
Matthews P
file
Kooijman S
file
Hasegawa Y
file
Hirose E
file
Katakura Y
file
Schmidt H
file
Peschel G
Beier C
file
Moldan F
file
Elkins M
HAMBUCKERS A
file
REMACLE J
file
FRANKARD P
file
WIRESTAM R
FAGERLUND T
ROSÉN M
file
HEDENSTRÖM A
file
DOYLE J
file
file
Bertin R
Locati M
Streams F
file
Bunce J
file
Sanger V
file
Leopold N
file
Lagace A
Vos C
file
Huh Y
Mevi-Schütz J
file
Goverde M
file
Verboom J
file
Opdam P
file
Erhardt A
file
Ter Braak C
Straub P
file
Decker D
file
Jaskoski B
file
JARVIS S
file
HATCH D
file
Ninan K
Lakshmikanthamma S
Cruder R
Vogelmann A
file
Porubsky W
file
Joye S
file
Tuncay K
Meile C
file
Forstén A
file
Sherman R
file
Young P
file
Wikelski M
file
Howse H
file
Packer J
file
Nair H
file
Pyke G
file
Ellison W
file
RENGEL Z
file
Menge D
file
Karaiskou N
file
Tepper H
file
Strote J
Ham R
file
Hart H
file
McKinney M
file
Dugger B
file
Blums P
file
Spencer L
file
TOWNSEND C
file
Piiper J
Altamura M
file
Arciello S
Corrado G
file
Fosket D
file
Pomeroy S
Campagna L
Tubaro P
file
Radosevich S
file
Waage J
file
Sclavo J
file
Duncan K
file
Delprete P
file
CORNET A
file
Conard S
file
GORDON A
file
Daan S
file
Holstein O
PANIGRAHI B
file
Cain L
file
STRIKER G
INSAUSTI P
file
GRIMOLDI A
Choate J
file
PARMENTIER I
Tewary P
file
Thapliyal J
file
Krivan V
Hawksworth D
file
Zimmer B
file
Osorio-Beristain M
file
Hanika S
file
Kramer B
file
Yamada T
file
Ngakan O
file
Suzuki E
file
Van Geert A
file
Van Rossum F
file
Stiers I
file
Sierens T
file
Barker J
file
West D
file
Bannister J
file
Mildenhall D
file
Zetter R
file
Poole D
file
Burston C
file
Jutzeler E
Heg D
file
Taborsky M
file
SMITHERS A
file
Acuna J
file
Roig J
file
Therrien J
file
Hannerz F
file
Maurer G
file
Mergler D
file
Dolbec J
Sedgwick J
file
Standley L
file
Lennartsson T
file
KING M
file
O'Dell H
Cribbs J
file
Moreno C
file
Mundinger P
file
Gravis A
file
Latimer J
file
Perdue M
file
Waters C
file
Salehi M
file
Salehi H
file
Bogdanova V
Banks J
file
Lymn N
file
Privitera M
file
Puglisi M
file
Cenci R
Beone G
Collazo A
file
Keller R
file
Stowe K
file
Toll J
file
Baskett T
file
Larson P
file
Caldwell E
file
Clissold F
file
Chatain A
file
Peeters P
file
De Garine-Wichatitsky M
file
Csech A
file
Ratcliffe G
file
Bird C
file
Piero A
Leonardi C
file
Giuffrida F
file
Petrone G
Moffitt J
file
Tian T
Dong X
file
Kirkover H
McLaren M
file
MacDade L
Rodewald P
file
Hatch K
file
Amdam G
file
Nilsen K
file
Norberg K
Hartfelder K
file
Kermani-Arab V
Moll T
Cho B
file
Read J
file
Sanson G
file
O'Riordan T
SÁNCHEZ-LAFUENTE A
file
SCHMITZ N
file
VERHEYDEN A
file
BEECKMAN H
file
KAIRO J
file
Kerr S
file
KOEDAM N
file
Jaffré T
file
Schulz J
file
Freire S
file
Brandt H
file
Medve R
file
Cayuela L
file
Burton‐Chellew M
Koevoets T
Grillenberger B
Sykes E
file
Rey-Benayas J
file
Schröder B
file
Underwood S
file
Bijlsma K
Gadau J
file
Stern K
file
Wubs A
file
Heuvelink E
file
Marcelis L
file
Zande L
Taulman J
file
Williamson J
file
Boring L
file
Swank W
file
Levey D
file
Waide J
file
Henderson G
file
Worley A
file
Wolters M
file
Bakker J
file
Edgren M
file
Inouye C
file
Hutt F
file
Wally A
Dionne M
file
Plummer G
file
Jackson T
file
Goodall J
file
McGrew W
file
Reynolds V
file
Sugiyama Y
file
Tutin C
file
Wrangham R
file
Daley F
file
Capó-Arteaga M
file
Hodgskiss P
file
Sbay H
Flores-López C
file
Conkle M
file
Bermejo-Velázquez B
file
Knowles E
file
Mossman C
Srivastava N
file
Cirillo J
Yeloff D
file
Blokker P
file
Boelen P
file
Rozema J
file
Acevedo-Rodríguez P
file
OPUTE F
file
OBASOLA C
Mims C
file
Herczeg G
file
Miyamoto T
file
Baba E
file
Tanaka T
file
Sasai K
file
McCloskey S
file
Bradeen J
file
Havey M
file
Rigg L
file
Enright N
file
Arakawa A
file
Fischer B
file
van Doorn G
file
Dieckmann U
file
Taborsky B
file
Torrecilla P
file
José-Angel
López-Rodríguez
Burton A
file
Perry G
file
Mauney J
file
Eyde R
file
Tsui C
file
Espírito-Santo H
Magnusson W
file
Kania G
file
Gottschalk M
file
Parsons K
file
Creech R
file
Kramer H
file
Peevy F
file
Pan D
file
Teng L
file
Cui F
file
Zeng Z
file
Bravery B
file
Zhang Q
file
Hill L
file
Duddington C
file
PYCK N
Hespenheide H
file
Hull E
file
Staaterman E
Claverie T
file
Patek S
file
Hejcman M
file
Dvorak I
Kocianova M
Pavlu V
Nezerkova P
Vitek O
Rauch O
file
Jenik J
file
Tevis L
file
Gershaneck D
Plata D
Coutinho R
file
Nilsson E
file
Persson A
file
Nilsson P
file
Emilio T
file
Schröder H
file
Kiehl K
file
Stock M
file
Denenberg V
file
Fisher D
file
Sawin P
file
Frommer G
file
Ross S
file
Histed J
file
Kyndt T
file
Assogbadjo A
file
Kakaï R
file
Sinsin B
file
Van Damme P
file
Gheysen G
file
MENZEL C
file
PRESSMAN E
file
HUBERMAN M
file
ALONI B
file
JAFFE M
file
Ahmed F
file
Hall A
file
Rinaldelli E
file
WAFFORD J
Hagar C
Srimuang K
file
Watthana S
file
Rangsayatorn N
file
Eungwanichayapant P
file
Elsol J
file
Castro M
file
Fraga P
file
Torres N
Rosselló J
file
Blus L
file
Dujardin M
file
Decker H
file
Roland K
file
Curtiss R
file
Sizemore D
file
Holden L
file
Tosh C
file
De Terra N
Robison C
file
Crosswhite F
file
Kawano S
file
Willey H
file
Sailer C
file
Radenic S
Sutrisno R
Wall S
file
Joyner J
file
Erdman J
file
Berry J
file
Song Y
file
Salt W
file
Bravo D
Lasanta T
file
HOVE M
file
SIETMAN B
BAKELAAR J
BURY J
HEATH D
PEPI V
KURTH J
DAVIS J
file
HORNBACH D
file
KAPUSCINSKI A
Fujino K
file
TALEISNIK E
file
Alexander A
file
Bănărescu P
file
Otel V
Wilhelm A
file
Jones C
file
Chervenak M
file
Hartman M
file
Cronin A
file
Field J
file
McMurtrey J
file
Queiroz H
file
Raper J
file
San Antonio J
file
SKORUPA L
Pascual U
file
McIlroy S
file
Bruce D
file
Goodall E
Alcorn M
file
Verschoor J
Coetzee L
Visser L
file
Rosengarten F
file
Nestler R
file
Collins H
file
AULIO K
file
Moberg R
file
Howmiller R
file
BOYD W
file
WALKER M
file
Carstensen D
file
Sweeny R
Ehlers B
file
Olesen J
file
Rinker G
file
KIS M
BURBRIDGE E
BROCK I
HEGGIE L
DIX P
file
KAVANAGH T
Boake C
file
Parejo D
file
Avilés J
file
Ullrich A
file
Cowan E
file
Zellers S
file
Jaeger J
file
ADAMS S
file
PEARSON S
file
HADLEY P
file
Roepke D
file
RAO K
file
WILDI O
file
Kolenosky G
file
Strathearn S
file
Hogg J
file
file
Leberman R
Romney V
file
Trautman M
file
Okonkwo C
Pal U
Rockwell S
Bocetti C
file
Marra P
file
Luedeman J
McMorris F
file
Bérczi S
HORTON R
file
Sachs J
file
Girlanda M
file
Segreto R
file
Cafasso D
file
Liebel H
file
Rodda M
file
Ercole E
file
Perotto S
file
Cantlon J
file
Lutz M
file
HÄNNINEN O
TUOMAINEN A
Heindl M
file
Winkler H
file
De Assis E
ARCHIBALD E
file
Blaser H
file
Cox D
file
Brandt J
file
SUMMERFIELD R
file
Brammeier S
Crist R
file
Schachner L
Mack R
file
Novak S
file
Fink F
file
Gogala M
Traue D
Impekoven M
file
Anker A
file
FUSS A
Vidal D
file
Griera E
Marin P
file
Sabido J
Harrington G
file
van ROMPAEY E
Taraborelli P
file
Moreno P
file
Srur A
file
Sandobal A
Martínez M
file
COLLINSON S
file
Jeffrey D
file
Kaufert F
file
Sastre C
file
VÄNSKÄ H
file
Greene L
file
D'Armi F

In [1]:
%cd evaluation/bhl/

/home/mvancha/Authority-git/Authority/evaluation/bhl

In [ ]:
!python evaluate_bhl.py

In [2]:
%cd r_table/parser/

/home/mvancha/Authority-git/Authority/r_table/parser

In [ ]:
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-ab-part-001.zip"

In [ ]:
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-ab-part-002.zip"
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-cdef-part-001.zip"
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-cdef-part-002.zip"

In [ ]:
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-cdef-part-002.zip"

In [ ]:
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-ghij-part-001.zip"
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-ghij-part-002.zip"

In [ ]:
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-klmnop-part-001.zip"
!python parse_field.py  --zip_file "../../data/receipt-id-561931-jcodes-klmnop-part-002.zip"

In [ ]:
!python parse_field.py  --zip_file "../../data/qrstuvwyz.zip"

In [48]:
#author name analysis
query = "select count(distinct fullname) from articles"
pd.read_sql_query(query,cnx)

   count(distinct fullname)
0                    584807

In [66]:
query = "select count(distinct fullname) from articles where (first_name =first_initial or first_name =first_initial || '.') and first_name not like ''"
pd.read_sql_query(query,cnx)

   count(distinct fullname)
0                    155661

In [67]:
query = "select count(distinct fullname) from articles where first_name like ''"
pd.read_sql_query(query,cnx)

   count(distinct fullname)
0                       449

In [71]:
query = "select count(distinct fullname) from articles where (middle_name !=middle_initial and middle_name !=middle_initial || '.') and middle_name not like ''"
pd.read_sql_query(query,cnx)

   count(distinct fullname)
0                     52611

In [72]:
query = "select count(distinct fullname) from articles where suffix not like ''"
pd.read_sql_query(query,cnx)

   count(distinct fullname)
0                      5080

In [33]:
# authors per publication, publications per author
query = "select count(id) as c, id from articles group by id having c >= 11"
pd.read_sql_query(query,cnx)

       c                         id
0     14             10.1086/598847
1     13             10.1086/648581
2     13             10.1086/649627
3     11             10.1086/650473
4     13             10.1086/652244
...   ..                        ...
3500  14  newphytologist.200.4.1076
3501  11  newphytologist.200.4.1102
3502  37             taxon.62.2.217
3503  30             taxon.62.2.249
3504  13             taxon.62.2.316

[3505 rows x 2 columns]

In [44]:
query = "select count(distinct id) as c, fullname from articles group by fullname having c > 10"
pd.read_sql_query(query,cnx)

        c                 fullname
0      14          Allan W. H. Bé
1      13   Anna Chrtková-Žertová
2      11         Anna Krahulcová
3      18              Ch. Körner
4      30      Célio F. B. Haddad
...    ..                      ...
20620  24          Øystein  Holand
20621  19            Øystein  Wiig
20622  17           Øyvind  Fiksen
20623  36           Ülo  Niinemets
20624  17          Şerban  Procheş

[20625 rows x 2 columns]

In [81]:
#no of profile in gs
query = "select count(distinct name_id) from google_scholar_new"
pd.read_sql_query(query,cnx)

   count(distinct name_id)
0                    24384

In [122]:
#no of author names
query = "select distinct(full_name) from google_scholar_new"
pd.read_sql_query(query,cnx)

                 full_name
0           Ahti LepistÃ¶
1       Alexander NÃ¼tzel
2           Ana IvanoviÄ
3          Anders MÃ¥rell
4        Anders WÃ¤stfelt
...                    ...
24502      Åukasz Jurczyk
24503     Åerban ProcheÅ
24504  Å tÄpÃ¡n PapÃ¡Äek
24505     Å½eljko CvetniÄ
24506  Å½eljko GrabareviÄ

[24507 rows x 1 columns]

In [84]:
query = "select count(*) from bhl_no_dups"
pd.read_sql_query(query,cnx)

   count(*)
0      3237

In [91]:
query = "select count(distinct ids) from self_citations where ids like '%,%'"
pd.read_sql_query(query,cnx)

   count(distinct ids)
0                35849

In [93]:
query = "select count(distinct id) from articles"
pd.read_sql_query(query,cnx)

   count(distinct id)
0              641638

In [98]:
#AINI
query = "select count(distinct fullname) as c, first_initial, last_name from articles group by first_initial, last_name "
pd.read_sql_query(query,cnx)

        c first_initial   last_name
0       1                  "KEMPAS"
1       1                        A.
2       1                    A.W.H.
3       1                Afriastini
4       1                     Alain
...    ..           ...         ...
328928  1             Я      ПРОКСА
328929  1             Я     Экстедт
328930  1             г     Кестхзй
328931  1             п   редакторы
328932  1             •         Kim

[328933 rows x 3 columns]

In [109]:
#FINI
query = "select count(*) as c, fullname from articles group by fullname"
pd.read_sql_query(query,cnx)

        c                       fullname
0       1                 A. A. Nečajev
1       1                   A. Bassères
2       1                   A. Bjärvall
3       1                  A. C. Araújo
4       1                  A. C. Zózimo
...    ..                            ...
584802  1                    Ян  Экстедт
584803  1  Ян Е. Янечка (Jan E. Janecka)
584804  1                     г  Кестхзй
584805  1         приглашенные редакторы
584806  1                • Kyung-Hee Kim

[584807 rows x 2 columns]

In [111]:
#distinct name to article pairs
query = "select distinct id,position from articles"
pd.read_sql_query(query,cnx)

                                id  position
0                           09-022         1
1                           09-022         2
2                          09-031R         1
3                          09-031R         2
4                          09-031R         3
...                            ...       ...
1480101  wildsocibull2011.38.4.874         1
1480102  wildsocibull2011.38.4.878         1
1480103  wildsocibull2011.38.4.884         1
1480104  wildsocibull2011.38.4.887         1
1480105  wildsocibull2011.38.4.892         1

[1480106 rows x 2 columns]

In [114]:
#mesh corpus
query = "select count(distinct id) from articles where mesh_terms not like ''"
pd.read_sql_query(query,cnx)

   count(distinct id)
0              641293

In [115]:
#firstname non match pairs
query = "select count(*) from firstname_nonmatch_set"
pd.read_sql_query(query,cnx)

   count(*)
0  26831681